@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular/Roboto-Regular.ttf);
}
*{
    font-family: roboto, 'Times New Roman', Times, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Img/background.png);
    background-size: cover;
    background-position: center;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.logo{
    background-color: black;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 50px;
    cursor: pointer;
}
.menu-logo{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}
.row
{
    display: flex;
    align-items: center;
    height: 88%;
}
.col{
    flex: 50%;
}
h1{
    color: white;
    font-size: 100px;
}
p{
    color: white;
    margin-top: 20px;
}
.btn{
    
    width: 200px;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 20px;
    border: 0;
    color: #000;
    outline: none;
}
.card{
    height: 230px;
    width: 220px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px 15px;
    background-image: url(Img/pic-1.png);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.card1{
    background-image: url(Img/pic-1.png);

}
.card2{
    background-image: url(Img/pic-2.png);
}
.card3{
    background-image: url(Img/pic-3.png);
}

.card4{
    background-image: url(Img/pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

